{% extends "base.html" %}

{% block title %}Detail{% endblock title %}

{% block content %}

<br>
<div class="card">
  <h5 class="card-header">Event Info:</h5>
  
  <div class="card-body">
    <h5 class="card-title">{{event.title}}</h5>
    <p class="card-text">{{event.description|linebreaks}}</p>
    <p class="card-text">Time: {{event.time}}</p>
    <p class="card-text">Date: {{event.date}}</p>
    <p class="card-text">{{event.seats|truncatechars:25}}</p>
  </div>
{% comment %}
 {% if event.organizer==request.user %}
    <h5 class="card-title">Our Items</h5>
  <ul class="list-group list-group-flush">
    {% for item in items %}
      <li class="list-group-item">
        <p><b>{{item.name}}</b></p>
        <p>{{item.description|linebreaks}}</p>
        <p>{{item.price}} KWD</p>
      </li>
    {% endfor %}
  </ul>

  <div class="card-body">
    <div class="row text-center">
      {% if request.user.is_staff %}
        <div class="col-md-4">
            <a href="{% url 'restaurant-update' restaurant.id %}" class="btn btn-outline-primary btn-block">Update</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'restaurant-delete' restaurant.id %}" class="btn btn-outline-danger btn-block">Delete</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'item-create' restaurant.id %}" class="btn btn-outline-success btn-block">Add Item</a>
        </div>
      {% elif request.user == restaurant.owner %}
        <div class="col-md-6">
            <a href="{% url 'restaurant-update' restaurant.id %}" class="btn btn-outline-primary btn-block">Update</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'item-create' restaurant.id %}" class="btn btn-outline-success btn-block">Add Item</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endcomment %}
</div>
{% endblock content %}