{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<header class="masthead">
<div class="backx">
<div class="container">
<form action="{% url 'event-list' %}">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="q" value="{{request.GET.q}}">
    <div class="input-group-append">
      <button class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
    </div>
  </div>
</form>
</div>

<div class="container">
<div class="row">
    {% for event in events %}
    <div class="col-md-4 mt-4">
        <div class="card my-card border-warning">
          
          <div class="card-body">
            <h1 class="card-title text-warning ">Title: {{event.title}}</h1>
            <h5 class="card-text">Date: {{event.date|truncatechars:25}}</h5>
            <h5 class="card-text">Time: {{event.time|truncatechars:25}}</h5>
            <h5 class="card-text">Capacity: {{event.capacity|truncatechars:25}}</h5>
            <h5 class="card-text">Seats Available: {{event.seats_left|truncatechars:25}}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
                <a href="{% url 'event-detail' event.id %}" class="btn btn-dark">View Details <i class="fas fa-eye"></i></a>
            </li>

          </ul>
      
     
        </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
</div>
</header>

{% endblock content %}

