{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<br>
<!--
<form action="{% url 'event-list' %}">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="q" value="{{request.GET.q}}">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </div>
</form>
-->
<div class="row">
    {% for event in events %}
    <div class="col-md-4">
        <div class="card my-card">
          
          <div class="card-body">
            <h5 class="card-title">{{event.title}}</h5>
            <p class="card-text">{{event.seats|truncatechars:25}}</p>
            <p class="card-text">{{event.date|truncatechars:25}}</p>
            <p class="card-text">{{event.time|truncatechars:25}}</p>
          <!--
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
                <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-dark">View</a>
            </li>

          </ul>
        -->
     
        </div>
        </div>
    </div>
    {% endfor %}
</div>
<!--
<script>
function favorite(restaurant_id){
  let button_id = "#button-"+restaurant_id
  $.ajax({
    url: "/restaurants/"+restaurant_id+"/favorite/",
    type: "GET",
    success: function(data){
      if(data.action === "favorite"){
        $(button_id).addClass('text-danger')
      }
      else{
        $(button_id).removeClass('text-danger')
      }
    },
    error: function(){
      alert("Something went Wrong!")
    },
  })
}
</script>
-->
{% endblock content %}

